.competition-details-page {
    direction: rtl;
    text-align: left;
    border-radius:18px ;
    padding: 50px 30px;
    margin: 100px 80px 100px 80px;
    
    background-color: #393B43;

    /* Layout grid */
    .details-grid {
        display: grid;
        grid-template-columns: 2.2fr 1.2fr;
        gap: 35px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    /* Info Box */
    .info-box {
        background: #16171B;/*linear-gradient(135deg, #aac8f0, #f6faff);*/
        padding: 35px;
        border-radius: 18px;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);

        h3 {
            font-size: 2.8rem;
            font-weight:700;
            margin-bottom: 20px;
            color: #ffffff;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            

            li {
                padding: 14px 0;
                font-size: 1.8rem;
                color: #fff;
               /* border-bottom: 1px solid #f1f1f1;*/

                strong {
                    color: #fff;
                    font-weight: 500;
                    padding-left: 10px;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
            li.rules-download {
            cursor: pointer;
            color: #fff;
            text-decoration: underline;
            transition: 0.2s;

            &:hover {
                color: #26A58F;
            }
        }
        }
    }

    /* Join Box */
    .join-box {
        
        padding: 35px;
      
.competition-image-wrapper {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.competition-image {
    width: 100%;
    max-width: 350px;
    border-radius: 12px;
    object-fit: cover;
}

        
        .join-btn {
            outline:none;
            border :none ;
            display: inline-block;
            width: 100%;
            padding: 20px 30px; 
            font-size: 1.8rem; 
            font-weight: 600;
            text-align: center;
            background: #3A7D6F;
            color: white;
            border-radius: 12px;
            text-decoration: none;
            transition: 0.25s ease;
            letter-spacing: 0.5px;
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.28);

            &:hover {
             
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
                transform: translateY(-3px);
            }
        }
    }
}
