/* Homepage */

.section {
    margin-top: 30px;
    margin-bottom: 50px;
    overflow: auto;
}

.about-us-section {
    margin-top: 60px;
}

.section-header {
    margin-bottom: 35px;
}

.section-header-boxs {
    color: #fff;
    background: linear-gradient(135deg, #212226, #2a2c2f);
    font-size: 18px;
    text-align: center;
    padding: 80px 0;
    box-shadow: 0 6px 15px rgba(20, 83, 155, 0.05);
    border-radius: 12px;
    transition: all 0.3s ease;

    &:hover {
        box-shadow: 0 20px 35px rgba(20, 83, 155, 0.08);
        transform: translateY(-6px);
        i {
            color: #aae68b;
        }
    }
}

.section-header-boxs-icon {
    color: #29a58d;
}

.title {
    position: relative;
    margin: 50px 0 45px 0;
}

.title-a {
    background: transparent;
    color: #29a58d;
    border-radius: 6px;
    padding: 4px 10px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
    line-height: 32px;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #29a58d;
    transition: all 0.3s ease;

    &:hover {
        color: #aae68b;
        border: 1px solid #aae68b;
    }
}


.forum-title h3 {
    line-height: 32px;
}

.failedtofetch {
    text-align: center;
    padding: 60px 20px;
    margin: 60px 0 160px 0;
    font-size: 1.2rem;
    color: #555;
}

.failedtofetch-icon {
    color: #29a58d;
    font-size: 60px;
    margin-bottom: 20px;
}



/* Responsive adjustments */
@media (max-width: 576px) {
    .contest-register-button {
        font-size: 1.4rem;
        padding: 14px 35px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .contest-register-button {
        font-size: 1.5rem;
        padding: 16px 40px;
    }
}

@media (min-width: 1200px) {
    .contest-register-button {
        font-size: 1.9rem;
        padding: 20px 55px;
    }
}
