/* Header */

.header {
    padding: 15px 4rem 15px 4rem;
    text-align: center;
    background: #212226;
    box-shadow: rgba(0, 0, 0, .07) 0 0 30px;
}

.mobile-header {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding-top: 15px;
    background: #29a58d;
    color: #ffffff;
    text-align: center;
}

.mobile-header-button {
    padding: 0px 20px 0px 20px;
    margin: 0 7px;
}

.page2 {
    cursor: pointer;
    color: #29a58d;
}
.logo-button {
    height: 45px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;

    .logo-img {
        height: 45px;
        object-fit: contain;
    }
}

.site-title {
    h3 {
        margin: 0;
        color: #fff;
        font-weight: 900;
    }
    padding: 5px;
}

.header-buttons {
    color: #29a58d;
    padding: 8px 8px 2px 8px;
    width: max-content;
    margin: 0 7px;
    border-radius: 3px;
    a {
        color: #29a58d;
    }
    &:hover {
        background: #eee;
    }
}

.header-buttons-login {
    border: 1px solid #29a58d;
    border-radius: 5px;
    padding: 5px 15px 8px 15px;
    &:hover {
        background: #29a58d !important;
        color: #fff;
    }
}

.header-buttons-ico {
    font-size: 18px;
}

.header-icons-box {
    display: flex;
}

.account-user-img-little-header {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 2px 0 0 5px;
}

.search-box-big {
    padding: 100px;
    margin-top: 100px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}
  
.searchTerm {
    width: 100%;
    border: solid 1px rgba(var(--b6a,219,219,219),1);
    background: rgba(var(--b3f,250,250,250),1);
    padding: 8px 10px 8px 10px;
    border-radius: 10px;
    color: #29a58d;
    font-size: 14px;
}
  
.searchTerm:focus{
    color: #29a58d
}

.searchTerm input {
    background: transparent;
    border: 0;
    outline: none;
    width: 95%;
    margin-right: 5px;
    padding: 10px;
}

.search-icon {
    color: #777;
    margin-right: 5px;
}

.wrap{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 18px;
}

/* Footer */

.footer {
    color: #fff;
    padding-top: 25px;     
    padding-bottom: 20px;
    background-color: #212226;
    margin-top: 40px;
    width: 100%;

    a {
        color: #fff;
        &:hover {
            transition: 0.3s ease;
            color: #aae68b;
        }
    }

    .footer-links p[href="/about-us"] {
        text-decoration: underline;
        text-underline-offset : 4px;

    }

    /* LEFT SECTION */
    .footer-left {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        margin-left: 0 !important;   
        //text-align: left !important;

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }

        .footer-left-text {
            h3 {
                margin: 0;
                font-size: 18px;
            }
            p {
                margin: 0;
                font-size: 12px;
                opacity: 0.7;
            }
        }
    }

    /* RIGHT SECTION */
    .footer-right {
        text-align: right;
        padding-top: 35px;  /* more space from top */

        .footer-links{
            margin: 6px 0;
        }



        .contact-links {
            display: flex;
            gap: 10px;
            justify-content: flex-end;

            i {
                font-size: 18px;
            }
        }
    } 
}

    /* MOBILE */
    @media (max-width: 768px) {
        .footer-left,
        .footer-right {
            text-align: center !important;
            justify-content: center;
            padding-top: 10px;
        }

        .contact-links {
            justify-content: center !important;
        }
    }




@import "login";
@import "homepage";
@import "froum";
@import "about";
@import "account";
@import "404";
@import "contest";