.modal-backdrop {
  position: fixed;
  inset: 0; /* top right bottom left = 0 */
  background: rgba(0, 0, 0, 0.6)!important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.contest-modal {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.35)!important;
  position: relative;
  animation: scaleIn 0.2s ease-out;
  
    .h2 {
  color: #111;
  margin-bottom: 16px;

  }
}

/* animation */
@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 14px;
  font-size: 22px;
  border: none;
  background: none;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.wallet-btn {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 6px;
  background: #4f46e5;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.wallet-btn:hover {
  background: #4338ca;
}

.wallet-ok {
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  color: green;
}
